<html>
  <head class="header">
    <link rel="stylesheet" href="./about.css" />
  </head>
  <body class="content">
    <div>
      <h2>About Digital Signal Processing Laboratory</h2>

      Digital Signal Processing laboratory of the department is equipped with
      sophisticated instruments for carrying out various tasks in digital signal
      processing. The data acquired directly by digital sensors like digital
      accelerometers, digital temperature sensors as well as sampled signals
      obtained from analog sensors like light sensors, sound sensors and
      pressure sensors are used to remove outliers using digital signal
      processing techniques. The objective of the laboratory is to enable the
      students to simulate and experiment with digital signals and systems and
      to apply the theory they have studied in DSP courses. The students can
      implement digital signal processing algorithms using different
      computational platforms and DSP tools. They can critically analyze the
      behavior of their implementation and observe the specific limitations
      inherent to the computational platform and tools. The laboratory combines
      both hardware and software facilities. The DSP lab is equipped with
      various sets of personal computers, oscilloscopes, Texas Instruments DSP
      cards, signal generators, and spectrum analyzers. The software available
      in the laboratory includes Code Composer Studio, MATLAB, and C++.

      <h2>Objectives and Strength of Laboratory</h2>

      To learn to apply basic signal processing techniques on digital signals
      acquired using digital sensors or after sampling of continuous-time
      signals. To demonstrate the effects of various filtering techniques
      applied to one-dimensional as well as two-dimensional signals. The
      objective of the laboratory is to provide research facilities to research
      scholars, staff, and faculty members in the field of digital signal
      processing. The strength of the laboratory is the availability of high-end
      computers, software, and MATLAB digital signal processing toolbox for
      providing computation facilities in the field of digital signal
      processing.

      <h2>List of equipment having research capability</h2>

      <ul>
        <li>MATLAB digital signal processing toolbox</li>
        <li>Texas Instruments DSP cards</li>
        <li>Code Composer Studio</li>
      </ul>

      <h2>Major equipment</h2>

      <li>Spectrum Analyzer</li>
      <li>Oscilloscopes</li>
      <li>Plug-in data ACQ boards</li>
      <li>TDM pulse modulation and demo kit</li>
      <li>High resolution ADC and DAC conversion cards</li>
      <li>Test point single-user software</li>
      <li>Data acquisition and interfacing cards</li>
    </div>
  </body>
</html>
