@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.lo-container .lo-box h1 {
  padding-right: 100px;
  font-weight: 900;
  color: #fff !important;
}

a {
  color: #fff;
}

.lo-container {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  /* flex-direction: column; */
  grid-template-columns: repeat(2, 1fr);
  margin-left: 150px;
}
.lo-box {
  width: 350px;
  height: 400px;
  font-size: 16px;
  padding: 40px 40px;
  background: #0f044c;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;
}
.lo-user {
  margin-top: 50px;
}

.fas {
  position: absolute;
  color: #fff !important;
}
input {
  width: 90%;
  margin-bottom: 25px;
  padding: 0px 30px 15px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #141e75;
  outline: none;
  background-color: #0f044c;
  color: #fff;
}
input:focus {
  border-bottom: 1px solid #eeeeee;
}
.reset-password {
  color: #ff7f50;
  text-align: right;
  margin-top: 0px;
  font-size: 12px;
}
.lo-login-btn {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lo-btn {
  display: block;
  width: 80%;
  padding: 15px;
  background-color: #eeeeee;
  color: #0f044c;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 600;
  opacity: 0.8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn:hover {
  opacity: 1;
}

.lo-signup span {
  color: #7fb8e6;
}
.lo-signup span:hover {
  color: #3793df;
}
