<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="ass.css" /> -->
    <link rel="stylesheet" href="staffdetails.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="zone2" class="row-fluid">
      <div id="content-area" class="span12">
        <div
          class="
            inner inner-no-left-sidebar inner-no-right-sidebar inner-no-sidebar
          "
        >
          <div id="content-region">
            <div class="tabs"></div>

            <div class="region region-content">
              <div id="block-system-main" class="clearfix block block-system">
                <div class="content">
                  <div
                    class="
                      view view-faculties-ece
                      view-id-faculties_ece
                      view-display-id-page
                      view-dom-id-dc7d47a2c0657eb7ef35a5bb81a81fd9
                    "
                  >
                    <div class="view-content">
                      <table class="views-table cols-6">
                        <caption>
                          Electronics &amp; Communication Engg
                        </caption>
                        <thead>
                          <tr>
                            <th
                              class="views-field views-field-picture"
                              scope="col"
                            >
                              Picture
                            </th>
                            <th
                              class="views-field views-field-field-name"
                              scope="col"
                            >
                              Name
                            </th>
                            <th
                              class="
                                views-field views-field-field-qualification
                              "
                              scope="col"
                            >
                              Qualification
                            </th>
                            <th
                              class="views-field views-field-field-designation"
                              scope="col"
                            >
                              Designation
                            </th>
                            <th
                              class="views-field views-field-field-contact-no"
                              scope="col"
                            >
                              Contact no
                            </th>
                            <th
                              class="views-field views-field-field-email"
                              scope="col"
                            >
                              Email
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="even">
                            <td class="views-field views-field-picture">
                              <a href="/users/csanthi"
                                ><img
                                  typeof="foaf:Image"
                                  src="https://gct.ac.in/sites/gct.ac.in/files/styles/faculty_thumb/public/pictures/picture-78-1536904758.jpg?itok=mgv9m6Ne"
                                  width="100"
                                  height="118"
                                  alt="CSanthi's picture"
                              /></a>
                            </td>
                            <td class="views-field views-field-field-name">
                              Dr.C.Santhi
                            </td>
                            <td
                              class="
                                views-field views-field-field-qualification
                              "
                            >
                              ME, Ph.D
                            </td>
                            <td
                              class="views-field views-field-field-designation"
                            >
                              HoD
                            </td>
                            <td
                              class="views-field views-field-field-contact-no"
                            >
                              9952432677
                            </td>
                            <td class="views-field views-field-field-email">
                              Santhi@gct.ac.in
                            </td>
                          </tr>
                          <tr class="odd">
                            <td class="views-field views-field-picture">
                              <a href="/users/saranya"
                                ><img
                                  typeof="foaf:Image"
                                  src="https://gct.ac.in/sites/gct.ac.in/files/styles/faculty_thumb/public/pictures/picture-80-1358743870.jpg?itok=tFL2cNnS"
                                  width="100"
                                  height="118"
                                  alt="Saranya's picture"
                              /></a>
                            </td>
                            <td class="views-field views-field-field-name">
                              Dr. O. Saraniya
                            </td>
                            <td
                              class="
                                views-field views-field-field-qualification
                              "
                            >
                              ME (Sr.Grade)
                            </td>
                            <td
                              class="views-field views-field-field-designation"
                            >
                              Associate Professor (CAS)
                            </td>
                            <td
                              class="views-field views-field-field-contact-no"
                            >
                              9788384410
                            </td>
                            <td class="views-field views-field-field-email">
                              Saranya@gct.ac.in
                            </td>
                          </tr>
                          <tr class="even">
                            <td class="views-field views-field-picture">
                              <a href="/users/ameena"
                                ><img
                                  typeof="foaf:Image"
                                  src="https://gct.ac.in/sites/gct.ac.in/files/styles/faculty_thumb/public/pictures/picture-251-1376980235.jpg?itok=-MfjgSnC"
                                  width="100"
                                  height="118"
                                  alt="ameena's picture"
                              /></a>
                            </td>
                            <td class="views-field views-field-field-name">
                              Dr.N.Ameena Bibi
                            </td>
                            <td
                              class="
                                views-field views-field-field-qualification
                              "
                            >
                              M.E.
                            </td>
                            <td
                              class="views-field views-field-field-designation"
                            >
                              Assistant Professor
                            </td>
                            <td
                              class="views-field views-field-field-contact-no"
                            >
                              9894175553
                            </td>
                            <td class="views-field views-field-field-email">
                              kabeeraayisha@gmail.com
                            </td>
                          </tr>
                          <tr class="odd">
                            <td class="views-field views-field-picture">
                              <a href="/users/suchitra"
                                ><img
                                  typeof="foaf:Image"
                                  src="https://gct.ac.in/sites/gct.ac.in/files/styles/faculty_thumb/public/pictures/picture-484-1545392640.jpg?itok=70WYAXGf"
                                  width="100"
                                  height="118"
                                  alt="suchitra's picture"
                              /></a>
                            </td>
                            <td class="views-field views-field-field-name">
                              Dr.G.Suchitra
                            </td>
                            <td
                              class="
                                views-field views-field-field-qualification
                              "
                            >
                              M.E ., Ph.D
                            </td>
                            <td
                              class="views-field views-field-field-designation"
                            >
                              Assistant Professor
                            </td>
                            <td
                              class="views-field views-field-field-contact-no"
                            >
                              9952404623
                            </td>
                            <td class="views-field views-field-field-email">
                              suchitra.g.ece@gct.ac.in
                            </td>
                          </tr>
                          <tr class="even">
                            <td class="views-field views-field-picture">
                              <a href="/users/mathivanan"
                                ><img
                                  typeof="foaf:Image"
                                  src="https://gct.ac.in/sites/gct.ac.in/files/styles/medium/public/pictures/picture-392-1507032468.png?itok=dvymI5Fa"
                                  width="100"
                                  height="118"
                                  alt="Thirugnanam's picture"
                              /></a>
                            </td>
                            <td class="views-field views-field-field-name">
                              Prof.S.Mathivanan
                            </td>
                            <td
                              class="
                                views-field views-field-field-qualification
                              "
                            >
                              M.E.,
                            </td>
                            <td
                              class="views-field views-field-field-designation"
                            >
                              Associate Professor
                            </td>
                            <td
                              class="views-field views-field-field-contact-no"
                            >
                              9789977171
                            </td>
                            <td class="views-field views-field-field-email">
                              mathivanan@gct.ac.in
                            </td>
                          </tr>
                          <tr class="even">
                            <td class="views-field views-field-picture">
                              <a href="/users/thirugnanam"
                                ><img
                                  typeof="foaf:Image"
                                  src="https://gct.ac.in/sites/gct.ac.in/files/styles/faculty_thumb/public/pictures/picture-576-1633074563.jpg?itok=q3ZrbRHv"
                                  width="100"
                                  height="118"
                                  alt="Thirugnanam's picture"
                              /></a>
                            </td>
                            <td class="views-field views-field-field-name">
                              Dr.G.THIRUGNANAM
                            </td>
                            <td
                              class="
                                views-field views-field-field-qualification
                              "
                            >
                              M.E., Ph.D
                            </td>
                            <td
                              class="views-field views-field-field-designation"
                            >
                              Associate Professor
                            </td>
                            <td
                              class="views-field views-field-field-contact-no"
                            >
                              9842385955 &amp; 7010635148
                            </td>
                            <td class="views-field views-field-field-email">
                              thirugnanam_g@gct.ac.in
                            </td>
                          </tr>
                          <tr class="odd views-row-last">
                            <td class="views-field views-field-picture">
                              <a href="/users/rangaraj"
                                ><img
                                  typeof="foaf:Image"
                                  src="https://gct.ac.in/sites/gct.ac.in/files/styles/faculty_thumb/public/pictures/picture-577-1633080285.jpg?itok=P-9HeS0Z"
                                  width="100"
                                  height="118"
                                  alt="Rangaraj's picture"
                              /></a>
                            </td>
                            <td class="views-field views-field-field-name">
                              Dr.J.RANGARAJ
                            </td>
                            <td
                              class="
                                views-field views-field-field-qualification
                              "
                            >
                              ME.,Ph.D
                            </td>
                            <td
                              class="views-field views-field-field-designation"
                            >
                              Assistant Professor
                            </td>
                            <td
                              class="views-field views-field-field-contact-no"
                            >
                              9894964386 &amp; 9789511477
                            </td>
                            <td class="views-field views-field-field-email">
                              rangaraj.j.ece@gct.ac.in
                            </td>
                          </tr>
                          <tr class="even">
                            <td class="views-field views-field-picture">
                              <a href="/users/anitha"
                                ><img
                                  typeof="foaf:Image"
                                  src="https://gct.ac.in/sites/gct.ac.in/files/styles/faculty_thumb/public/pictures/picture-252-1376980281.jpg?itok=D3XNNgFL"
                                  width="100"
                                  height="118"
                                  alt="anitha's picture"
                              /></a>
                            </td>
                            <td class="views-field views-field-field-name">
                              Prof.A.Anitha
                            </td>
                            <td
                              class="
                                views-field views-field-field-qualification
                              "
                            >
                              ME
                            </td>
                            <td
                              class="views-field views-field-field-designation"
                            >
                              Assistant Professor
                            </td>
                            <td
                              class="views-field views-field-field-contact-no"
                            >
                              7598894692
                            </td>
                            <td class="views-field views-field-field-email">
                              tha.ani1981@gmail.com
                            </td>
                          </tr>

                          <tr class="even">
                            <td class="views-field views-field-picture">
                              <a href="/users/srividyabarathi"
                                ><img
                                  typeof="foaf:Image"
                                  src="https://gct.ac.in/sites/gct.ac.in/files/styles/faculty_thumb/public/pictures/picture-467-1536994405.png?itok=ZZaqD5G1"
                                  width="100"
                                  height="118"
                                  alt="srividyabarathi's picture"
                              /></a>
                            </td>
                            <td class="views-field views-field-field-name">
                              Ms.A.Srividyabarathi
                            </td>
                            <td
                              class="
                                views-field views-field-field-qualification
                              "
                            >
                              ME
                            </td>
                            <td
                              class="views-field views-field-field-designation"
                            >
                              Assistant Professor
                            </td>
                            <td
                              class="views-field views-field-field-contact-no"
                            >
                              9944249441
                            </td>
                            <td class="views-field views-field-field-email">
                              srividyabarathi@gmail.com
                            </td>
                          </tr>
                          <tr class="odd">
                            <td class="views-field views-field-picture">
                              <a href="/users/saritha"
                                ><img
                                  typeof="foaf:Image"
                                  src="https://gct.ac.in/sites/gct.ac.in/files/styles/faculty_thumb/public/pictures/picture-468-1536994569.png?itok=GI6wCk4Q"
                                  width="100"
                                  height="118"
                                  alt="saritha's picture"
                              /></a>
                            </td>
                            <td class="views-field views-field-field-name">
                              Ms.S.Saritha
                            </td>
                            <td
                              class="
                                views-field views-field-field-qualification
                              "
                            >
                              ME
                            </td>
                            <td
                              class="views-field views-field-field-designation"
                            >
                              Assistant Professor
                            </td>
                            <td
                              class="views-field views-field-field-contact-no"
                            >
                              9600779142
                            </td>
                            <td class="views-field views-field-field-email">
                              Sarithasakthi2225@gmail.com
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Department Events region -->
          <!-- End of Department Events region -->
        </div>
      </div>
      <!--content area-->
    </div>
  </body>
</html>
