<html>
  <head class="header">
    <link rel="stylesheet" href="./about.css" />
    <h1>Vision and Mission</h1>
  </head>
  <body>
    <p class="content">
      Vision of the Department The vision of ECE department is to become pioneer
      in higher learning and research and to produce creative solution to
      societal needs. Mission of the Department To provide excellence in
      education, research and public service. To provide quality education and
      to make the students entrepreneur and employable. Continuous upgradation
      of techniques for reaching heights of excellence in a global.
    </p>
  </body>
</html>
