@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #262626;
}

p {
  color: #000;
}

.container {
  max-width: 1100px;
  margin: auto;
  width: 90%;
}

/* top-nav*/

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  height: 60px;
  font-size: 17px;
}

.container .main-nav .logo {
  width: 50px;
  /* background-color: red; */
  margin-right: 20px;
}

.main-nav .instname {
  padding-right: 30px;
  font-size: 18px;
}

.main-nav ul {
  /* margin-left: 55px; */
  padding-top: 13px;
  display: flex;
}

.main-nav ul.menu-item {
  flex: 1;
  margin-left: 50px;
}

.main-nav ul li {
  padding: 0 10px;
}

.main-nav ul li a:hover {
  border-bottom: 3px solid #111;
}

.main-nav ul li a {
  padding-bottom: 2px;
  color: #0067b8;
}

/* showcase*/

.showcase {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 40px;
  background: url("../images/ECE.jpg") no-repeat center center/cover;
  /* opacity: 90%; */
}

.showcase h2,
.showcase p {
  margin-bottom: 20px;
  color: #fff;
  background-color: rgb(70, 67, 67);
  opacity: 0.7;
  /* box-shadow: 20px 20px 5px #0067b8; */
  padding: 10px;
  /* border-radius: 15px; */
  width: 53%;
  /* margin-left: 10px; */
}

.showcase p {
  font-size: 25px;
  font-weight: 900;
}

/* name-card-1*/

.name-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.name-cards img {
  width: 100%;
  margin-bottom: 15px;
}

.name-cards h3 {
  margin-bottom: 10px;
}

.name-cards a {
  display: inline-block;
  padding-top: 10px;
  color: #0067b8;
  text-transform: uppercase;
  font-weight: bold;
}

.name-cards {
  margin-bottom: 40px;
}

.name-cards a:hover i {
  margin-left: 10px;
}

/*Xbox*/

.xbox {
  background: url("../images/placement.jpg") no-repeat center center/cover;
  width: 100%;
  height: 350px;
  margin-bottom: 30px;
}

.xbox .placement {
  width: 40%;
  padding: 50px 0 0 30px;
}

.xbox p {
  margin: 20px 0 30px;
  font-size: 20px;
}

.xbox h3 {
  font-size: 25px;
  margin-bottom: 10px;
}

/*carbon*/

/* .carbon {
  background: url("../images/carbon.jpg") no-repeat center center/cover;
  height: 350px;
  width: 100%;
  margin-bottom: 30px;
}

.carbon .placement {
  width: 60%;
  padding: 100px 0 0 30px;
}

.carbon p {
  margin: 20px 0 30px 0;
} */

/*follow*/

.follow {
  margin-bottom: 20px;
  display: inline-flex;
}

.follow a {
  padding: 0 10px;
}

.follow p {
  padding-top: 5px;
}

.links {
  background: #f2f2f2;
  color: #616161;
  padding: 30px 0;
  font-size: 15px;
}

.links-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.links li {
  line-height: 2.5;
}

/*footer*/

.footer {
  font-size: 12px;
  padding: 20px 0;
  background: #f2f2f2;
  color: #616161;
}

.footer-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .footer-inner ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer div {
  display: flex;
  align-items: center;
}

.footer i {
  margin-right: 10px;
}

.footer .footer-inner ul li {
  margin-right: 30px;
}

/*buttons*/

.button {
  background-color: #262626;
  color: #fff;
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  border: 0;
}

.about-button {
  background-color: #262626;
  color: #fff;
  margin-left: 10px;
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  border: 0;
  width: 10%;
}

.menu-button {
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
  display: none;
}

.button:hover {
  opacity: 0.9;
}

.carbon .button {
  background: #f4f4f4;
  color: #333;
}

.dark {
  color: #fff;
}

.fas {
  margin-left: 10px;
  margin-top: 5px;
}

@media (max-width: 900px) {
  .menu-button {
    display: block;
  }

  .main-nav ul.menu-item {
    display: block;
    position: absolute;
    background: #f2f2f2;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    opacity: 0.9;
    padding: 20px;
    border-right: #ccc 1px solid;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
  }

  .main-nav ul.menu-item.show {
    transform: translateX(-20px);
  }

  .main-nav ul.menu-right {
    margin-right: 50px;
  }

  .menu-button:hover {
    opacity: 0.5;
  }

  .main-nav ul.menu-item li {
    padding: 10px 10px;
    border-bottom: #ccc solid 1px;
  }

  .main-nav ul.menu-item li:last-child {
    border-bottom: 0;
  }

  .name-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .xbox .placement p {
    display: none;
  }

  .xbox .button {
    margin-top: 30px;
  }

  .carbon .placement {
    width: 80%;
  }

  .links .links-inner {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .name-cards {
    grid-template-columns: 1fr;
  }

  .xbox .placement p {
    display: none;
  }

  .xbox .button {
    margin-top: 30px;
  }

  .carbon .placement {
    width: 80%;
  }

  .links .links-inner {
    grid-template-columns: 1fr;
  }

  .links .links-inner ul {
    padding-top: 20px;
  }
}
